Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
mysql-connector-python
mysqlclient
python-dotenv
Werkzeug
Pillow
reportlab
protobuf
wheel
ml-dtypes
tensorboard 

#############################################################################

Flask
Flask-SQLAlchemy
Flask-Login
Werkzeug
mysqlclient
reportlab
Pillow
WTForms
Flask-Mail
itsdangerous
python-dotenv
Flask-DebugToolbar
